<div class="kanban-container">
    <div class="kanban-column" *ngFor="let col of kanbanColumns | keyvalue" [ngClass]="col.key">
        <h3 class="kanban-title">{{ col.key.replace('_', ' ').toUpperCase() }}</h3>
        <div
            cdkDropList
            [cdkDropListData]="col.value"
            (cdkDropListDropped)="onDrop($event, col.key)"
            class="kanban-list"
        >
            <div
                class="kanban-item"
                *ngFor="let projet of col.value"
                cdkDrag
                [cdkDragData]="projet"
            >
                <strong>{{ projet.titre }}</strong><br />
                {{ projet.description || 'Pas de description' }}
            </div>
        </div>
    </div>
</div>
