<!-- Debug: Plain Display of the Data -->


<!-- Kanban Display -->
<div class="kanban-container">
    <div class="kanban-column" *ngFor="let col of kanbanColumns | keyvalue" [ngClass]="col.key">
        <h3 class="kanban-title">{{ col.key.replace('_', ' ').toUpperCase() }}</h3>

        <div
            cdkDropList
            [cdkDropListData]="col.value"
            (cdkDropListDropped)="onDrop($event, col.key)"
            class="kanban-list"
        >
            <div
                class="kanban-item"
                *ngFor="let projet of col.value"
                cdkDrag
                [cdkDragData]="projet"
            >
                <p class="kanban-item-title">{{ projet.titre }}</p>
                <p class="kanban-item-desc">{{ projet.description || 'Pas de description' }}</p>
            </div>
        </div>
    </div>
</div>
