<div class="student-info p-grid p-mb-3">
    <div class="p-field p-col-12 p-md-4">
      <label>Nom étudiant</label>
      <input type="text" pInputText value="Sana" disabled />
    </div>
  
    <div class="p-field p-col-12 p-md-4">
      <label>Id étudiant</label>
      <input type="text" pInputText value="EUT12165451" disabled />
    </div>
  
    <div class="p-field p-col-12 p-md-4">
      <label>Groupe</label>
      <input type="text" pInputText value="GROUPE4" disabled />
    </div>
  </div>
  
  <p-table
  [value]="notes"
  [responsive]="true"
  class="p-datatable-striped p-datatable-sm p-shadow-2"
  styleClass="custom-table"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Sprint</th>
      <th>Séance</th>
      <th>Type de note</th>
      <th>Note</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-note>
    <tr>
      <td><strong>Sprint {{ note.seance?.sprintId }}</strong></td>
      <td>
        <div>
          <div class="p-text-bold">{{ note.seance?.titre }}</div>
          <small class="p-text-secondary">{{ note.seance?.description }}</small>
        </div>
      </td>
    
      <td>{{ note.seance?.typeNote }}</td>
      <td>
        <span
          [ngClass]="{
            'p-tag': true,
            'p-tag-success': note.valeur >= 10,
            'p-tag-warning': note.valeur < 10
          }"
        >
          {{ note.valeur }}
        </span>
      </td>
    </tr>
  </ng-template>
</p-table>
  
  <h3 class="p-mt-3">Moyenne générale: 
    <span class="p-text-bold">{{ moyenne | number: '1.2-2' }}</span>
  </h3>
  <h3 class="p-mt-5">Suggestions de cours selon vos performances :</h3>
<div *ngFor="let matiere of recommandationsParMatiere | keyvalue" class="p-mb-4">
  <h4>
    Votre niveau dans la matière <strong>{{ matiere.key }}</strong> est 
    <span class="p-text-bold">{{ matiere.value.niveau }}</span>
  </h4>
  <ul>
    <li *ngFor="let cours of matiere.value.cours">
      <strong>{{ cours.titre }}</strong> - {{ cours.description }}<br />
      <a [href]="cours.lien" target="_blank">{{ cours.lien }}</a>
    </li>
  </ul>
</div>
