<div class="col-12 md:col-12">
    <div class="card widget-table">
        <div class="card-header line-height-4 mb-3">
            <h5>Liste des tâches</h5>
        </div>

        <button pButton type="button" icon="pi pi-plus" class="p-button-success p-button-sm"
                [routerLink]="['/apps/tache/add']"> Ajouter Tâche</button>

        <p-table [value]="taches" [paginator]="true" [rows]="5" [rowHover]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Assigné à</th>
                    <th>État</th>
                    <th>Avancement</th>
                    <th>Date Début</th>
                    <th>Date Fin</th>
                    <th>Actions</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-tache>
                <tr>
                    <td>{{ tache.titre }}</td>
                    <td>{{ tache.description }}</td>
                    <td>{{ tache.assigneA }}</td>
                    <td>{{ tache.etat }}</td>
                    <td>{{ tache.avancement }} %</td>
                    <td>{{ tache.dateDebut | date: 'short' }}</td>
                    <td>{{ tache.dateFin | date: 'short' }}</td>
                    <td>
                        <button pButton type="button" icon="pi pi-trash" class="p-button-danger p-button-sm me-2"
                                (click)="deleteTache(tache.id)"></button>

                        <button pButton type="button" icon="pi pi-pencil" class="p-button-warning p-button-sm me-2"
                                [routerLink]="['/apps/tache/edit', tache.id]"></button>

                        <button pButton type="button" icon="pi pi-info-circle" class="p-button-info p-button-sm"
                                [routerLink]="['/apps/tache/details', tache.id]"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

