<div class="card">
    <span class="text-900 text-xl font-bold mb-4 block">Create a new Claim</span>
    <div class="grid">
      <div class="col-12 lg:col-10">
        <div class="grid formgrid p-fluid">
          <div class="field mb-4 col-12">
            <label for="title" class="ng-invalid ng-dirty">Title</label>
            <input id="title" type="text" #titleModel="ngModel"
            required
            pattern="^[a-zA-Z0-9 ]*$"
            [ngClass]="{
              'ng-invalid': titleModel.invalid && titleModel.dirty,
              'ng-valid': titleModel.valid && titleModel.dirty
            }" pInputText [(ngModel)]="claim.title" name="title" class="ng-dirty ng-invalid">
          </div>
  
          <div class="field mb-4 col-12">
            <label for="description" class="font-medium text-900">Description</label>
            <textarea id="description" type="text" pInputTextarea [(ngModel)]="claim.description" name="description" rows="5" [autoResize]="true"></textarea>
          </div>
          <div *ngIf="action === 'Update'"   class="field mb-4 col-12">
            <label for="status" class="font-medium text-900">Status</label>
                    <p-dropdown 
                [options]="claimStatuses" 
                optionLabel="label" 
                optionValue="value"
                [(ngModel)]="claim.status"
                placeholder="Select Status">
              </p-dropdown></div>

          
  
          <div class="col-12">
            <button pButton pRipple (click)="createClaim()" [disabled]="claim.title === '' || claim.description === ''|| (titleModel.invalid && titleModel.dirty)" label="{{action}}" class="w-auto mt-3"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  